:root
{
    --cinza: rgb(125, 125, 125);
    --preto: rgb(36, 33, 33);
    --verde:#10c30d;
    --azul: #4169e1;
}

/* ----Banner Home---- */

.banner
{
    background:linear-gradient(rgba(155, 155, 155, 0),rgba(151, 151, 151, 0.308)100%),url(../imgs/banner.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size: cover;    
}
.banner .container
{
    display: flex;
    flex-direction: column;   
    padding: 180px 0;    
}
.banner h1
{
    font-size: 40px;
    color: var(--verde);
    font-weight: bold;
    text-shadow: 0.05em 0.05em 0.1em rgb(43, 42, 42);
}
.banner p
{
    padding: 40px 0;
    font-weight: bold;
    font-size: 30px;
    width: 400px;
    color: var(--preto);
}
.banner button
{
    border-radius: 20px;
    width: 250px;
    padding: 10px;
    background-color: var(--azul);
    border-color: var(--azul);
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    word-spacing: 4.3px;
    letter-spacing: .8px;
}
.banner button:hover
{
    background-color: var(--azul);
    border-color: whitesmoke;
}
.banner a
{
 text-decoration: none;
}

/* -----Seção sobre----- */

.sobreObjetivos .container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 20px 70px 100px; 
}
.sobreObjetivos h2
{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 32px;
    color: var(--preto);
    margin-bottom: 30px;
}

.sobreObjetivos p
{
    color: var(--cinza);
    margin-bottom: 20px;
}

.sobreObjetivos img
{
    max-height: 200px;
    width: 150px;    
}

.objetivos
{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.objetivos img
{
    margin-left: 50px;
}

 .objetivos p
{
    font-size: 14px;
    color: var(--cinza);
    width: 300px;
}

.valores
{
    margin-right: 20px;
}

/* Seção serviços */

.servicos
{
    background-color: whitesmoke;
}
.servicos .container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.servicos .servicos_titulo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    text-align: center;
}
.servicos_titulo p
{
    margin-top: 20px;
    color: var(--cinza);
}
.servicos_conteudo
{
    display: grid;
    grid-template-columns: 40% 40% 30%;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.servicos_conteudo .area
{
    display: flex;
    align-items: center;    
}
.servicos_conteudo .texto
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 250px;
}
.servicos_conteudo i
{
    font-size: 50px;
    color: var(--azul);
}
.texto p
{
    font-size: 14px;
    margin-top: 20px;
    color:var(--cinza)
}

/*----Orçamentos----*/

.orcamentos .container 
{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 1100px;
}
.orcamentos .descricao
{
    text-align: center; 
    margin: 30px 0;    
}
.orcamentos .descricao p
{
    margin-top: 20px;
    color: var(--cinza);
}
.orcamentos .descricao a
{
    text-decoration: none;
    color: var(--cinza);
    font-weight: bold;
}
.orcamentos table
{
    color: var(--cinza);
}

/* ---Clientes---- */

.clientes
{
    background-color: whitesmoke;
}

.clientes .container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.clientes .descricao
{
    text-align: center;
}
.clientes .descricao p
{
    color: var(--cinza);
    margin: 20px 0 30px 0;
}

.clientes_conteudo
{
    display: grid;
    grid-template-columns: 50% 50% 30%;
    grid-template-rows: 120px;
    justify-content: center;
    align-items: center;
    max-width: 1000px; 
}
.clientes_conteudo a img
{
    max-width: 200px;
}
