:root
{
    --cinza: rgb(125, 125, 125);
    --preto: rgb(36, 33, 33);
    --verde:#10c30d;
    --azul: #4169e1;
}

/* ----Banner Home---- */

.banner
{
    background:linear-gradient(rgba(155, 155, 155, 0),rgba(151, 151, 151, 0.308)100%),url(../imgs/banner.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size: cover;    
}
.banner .container
{
    display: flex;
    flex-direction: column;   
    padding-top: 180px;    
}

.banner h1
{
    font-size: 40px;
    color: var(--verde);
    font-weight: bold;
    text-shadow: 0.05em 0.05em 0.1em rgb(43, 42, 42);
}
.banner p
{
    padding: 40px 0;
    font-weight: bold;
    font-size: 30px;
    width: 400px;
    color: var(--preto);
}
.banner button
{
    border-radius: 20px;
    width: 250px;
    padding: 10px;
    background-color: var(--azul);
    border-color: var(--azul);
    cursor: pointer;
    color: white;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    word-spacing: 4.3px;
    letter-spacing: .8px;
}
.banner button:hover
{
    background-color: var(--azul);
    border-color: whitesmoke;
}

/* -----Seção sobre----- */

.secao-sobre .container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.container-sobre-descricao h2
{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 32px;
    color: var(--preto);
    margin-bottom: 30px;
}

.container-sobre-descricao p
{
    color: var(--cinza);
    margin-bottom: 20px;
    text-align: center;
}

.secao-sobre img
{
    max-height: 200px;
    width: 150px;    
}

.container-valores-visao-missao
{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container-valores-visao-missao img
{
    margin-left: 50px;
}

 .container-valores-visao-missao p
{
    font-size: 14px;
    color: var(--cinza);
    width: 300px;
}
.valores, .visao
{
    padding: 0 20px;
}

/*----Seção serviços---- */

.secao-servicos
{
    background-color: whitesmoke;
}
.secao-servicos .container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.container-servicos-descricao
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.container-servicos-descricao p
{
    margin-top: 20px;
    color: var(--cinza);
}
.container-servicos-conteudo
{
    display: grid;
    grid-template-columns: 300px 320px 300px;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.container-servicos-conteudo .area
{
    display: flex;
    align-items: center;    
}
.container-servicos-conteudo .texto
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 250px;
}
.container-servicos-conteudo i
{
    font-size: 50px;
    color: var(--azul);
}
.container-servicos-conteudo .texto p
{
    font-size: 14px;
    margin-top: 20px;
    color:var(--cinza)
}

/*----Orçamentos----*/

.secao-orcamentos .container 
{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 1100px;
}
.container-orcamentos-descricao
{
    text-align: center; 
    margin: 30px 0;    
}
.container-orcamentos-descricao p
{
    margin-top: 20px;
    color: var(--cinza);
}
.container-orcamentos-descricao a
{
    text-decoration: none;
    color: var(--cinza);
    font-weight: bold;
}
.secao-orcamentos table
{
    color: var(--cinza);
}

/* ---Clientes---- */

.secao-clientes
{
    background-color: whitesmoke;
}

.secao-clientes .container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-clientes-descricao
{
    text-align: center;
}
.container-clientes-descricao p
{
    color: var(--cinza);
    margin: 20px 0 30px 0;
}

.container-clientes-conteudo
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px;
    grid-column-gap: 50px;
    justify-content: center;
    align-items: center;
}
.container-clientes-conteudo a img
{
    max-width: 200px;
}
