:root
{
    --cinza: rgb(125, 125, 125);
    --preto: rgb(36, 33, 33);
    --verde:#10c30d;
    --azul: #4169e1;
}

/* ----Seção Perguntas e Respostas---- */

.secao-perguntas .container
{
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    margin: auto;

}
.container-perguntas-descricao
{
   display: flex;
   flex-direction: column;
   padding: 30px 0;
   align-items: center;
}

.secao-perguntas h1
{
    font-weight: bold;
    font-size: clamp(1em, 1em + 1.5vw, 2em);
    margin-bottom: 20px;

    text-align: center;
}
.secao-perguntas h2
{
    font-weight: bold;
    font-size: clamp(0.7em, 1em + 1vw, 1.5em);
    margin-bottom: 20px;
    color: var(--azul);
}
.secao-perguntas p
{
    color: var(--cinza);
    font-size: clamp(0.5em, 0.7em + 0.5vw, 1.5em);
    margin-bottom: 20px;
}

.container-perguntas-descricao p
{
    text-align: center;
}

/* ----Formulário contato---- */

.secao-formulario
{
    background-color: whitesmoke;
}

.container-formulario-descricao
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-formulario-descricao h2
{
    color: black;
    font-weight: bold;
    font-size: clamp(1em, 1em + 1.5vw, 2em);
    margin-bottom: 20px;
    text-align: center;
}
.container-formulario-descricao p
{
    color: var(--cinza);
    font-size: clamp(0.5em, 0.7em + 0.5vw, 1.5em);
    margin-bottom: 20px;
    text-align: center;
}

.container-formulario-conteudo
{
    padding: 30px;
    border: 1px solid rgba(135, 135, 135, 0.3);
}

.container-formulario-conteudo p
{
    color: var(--azul);
    margin-bottom: 20px;
}
.nome_telefone
{
    display: flex;  
    padding: 20px 0;  
}
.nome_telefone .nome
{
    margin-right: 20px;
}
.container-formulario-conteudo .email,.container-formulario-conteudo .mensagem
{
    margin-bottom: 20px;
}

