
/* Responsividade para telas de no minímo 700px (tablets) */

@media screen and (max-width:930px)
{

    header nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    header nav a{
        padding: 10px 0;
    }

    /* Seção objetivos (index.html) e Seção equipe (sobre.html) */
    .container-valores-visao-missao, .container-equipe-descricao
    {
        flex-direction: column; 
    } 

    /* Seção serviços, Seção clientes (index.html) e Seção equipe (sobre.html) */
    .container-servicos-conteudo, .container-clientes-conteudo,.container-equipe-perfil
    {
        grid-template-columns: 1fr 1fr;
    }

}
