
/* Responsividade */

@media screen and (max-width:930px)
{

    /* Seção objetivos (index.html) e Seção equipe (sobre.html) */
    .container-valores-visao-missao, .container-equipe-descricao
    {
        flex-direction: column; 
    } 

    /* Seção serviços, Seção clientes (index.html) e Seção equipe (sobre.html) */
    .container-servicos-conteudo, .container-clientes-conteudo,.container-equipe-perfil
    {
        grid-template-columns: 1fr 1fr;
    }

    footer .container
    {
        flex-direction: column;
        align-items: center;
    }

    footer .contatoMensagem
    {
        padding: 0 50px;
    }

    footer .contatoRedesSociais
    {
        border-left: none;
        border-top: 1px solid #7597ff;
        margin-top: 30px;
        padding-top: 20px;
    }

}

@media screen and (max-width:630px)
{
    header nav{
        display: none;
    }
    header .container
    {
        justify-content: space-between;
    }

    #logo
    {
        margin-left: 30px;
    }

    .dropdown
    {
        display: inline-block;
    }

    .container
    {
        padding: 20px;
    }
    
    .banner p
    {
        max-width: 280px;
    }

    /* Seção serviços, Seção clientes (index.html) e Seção equipe (sobre.html) */
    .container-servicos-conteudo, .container-clientes-conteudo,.container-equipe-perfil
    {
        grid-template-columns: 1fr;
    }
    .container-clientes-conteudo 
    {
        grid-row-gap: 20px;
    }
}

