:root
{
    --cinza: rgb(125, 125, 125);
    --preto: rgb(36, 33, 33);
    --verde:#10c30d;
    --azul: #4169e1;
}
/* ----Banner Sobre---- */

.banner
{
    background:linear-gradient(rgba(155, 155, 155, 0),rgba(151, 151, 151, 0.308)100%),url(../imgs/bannerSobre.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size: cover;
    display: flex;    
}
.banner .container
{
    display: flex;
    flex-direction: column; 
    padding: 90px 0 0 50px;
    background-color: white;
    height: 260px;
    width: 72%;
    min-width: 275px;
    margin-left: 10%;
    margin-top: 340px;
}

.banner #biografia
{
    color: red;
    margin-bottom: 40px;
    
}

#titulo
{
    font-size: clamp(1.2em, 1.5em + 1.5vw, 2.5em);
    font-weight: bold;
    margin-right: 10px;
}

#linhaDecorativa
{
    background-color: var(--azul);
    height: 3px;
    width: 50%;
    margin-top: 3em;
}

/* ----Seção historia---- */

.historia .container
{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 60%;
    min-width: 250px;
    padding-left: 55px;
}
.historia .container p
{
    color: var(--cinza);
    margin-bottom: 20px;    
}

/* ----Seção Equipe---- */

.secao-equipe
{
    border-top: 20px solid var(--verde);
    background-color: whitesmoke;
}

.secao-equipe .container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
}

.container-equipe-descricao
{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
}

.container-equipe-descricao p
{
    width: 100%;
    max-width: 600px;
    color: var(--cinza);
    margin-bottom: 20px;    
}

.container-equipe-descricao strong
{
    color: red;
}

.container-equipe-descricao h2
{
    padding: 20px 0;
    text-align: center;
}

.container-equipe-descricao img
{
    border-radius: 10px;
    height: 100%;
    max-height: 200px;
}

.container-equipe-perfil
{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
}
.container-equipe-perfil img
{
    max-width:200px;
    margin-right: 30px;
    border-radius: 20px;
}
.container-equipe-perfil figcaption
{
    width: 200px;
    color: var(--cinza);
    font-weight: bold;
}