:root
{
    --cinza: rgb(125, 125, 125);
    --preto: rgb(36, 33, 33);
    --verde:#10c30d;
    --azul: #4169e1;
}
/* ----Banner Sobre---- */

.banner
{
    background:linear-gradient(rgba(155, 155, 155, 0),rgba(151, 151, 151, 0.308)100%),url(../imgs/bannerSobre.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size: cover;
    display: flex;    
}
.banner .container
{
    display: flex;
    flex-direction: column; 
    padding: 90px 0 0 50px;
    background-color: white;
    height: 260px;
    width: 70%;
    margin-left: 10%;
    margin-top: 340px;
    max-width: 1000px;
}
.banner #biografia
{
    color: red;
    margin-bottom: 40px;
    font-size: 16px;
}

#titulo
{
    font-size: 40px;
    font-weight: bold;
}

#linhaDecorativa
{
    background-color: var(--azul);
    height: 3px;
    width: 50%;
    margin-top:50px;
}

/* ----Seção historia---- */

.historia .container
{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 60%;
    padding: 20px 0 0 50px;
    max-width: 1000px;
}
.historia .container p
{
    color: var(--cinza);
    margin-bottom: 20px;    
}

/* ----Seção Equipe---- */

.equipe
{
    border-top: 20px solid var(--verde);
    background-color: whitesmoke;
}

.equipe .container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
}

.equipe .descricao
{
   display: flex;
   justify-content: center;
   align-items: center;
}
.descricao .titulo p
{
    width: 600px;
    color: var(--cinza);
}
.equipe .descricao strong
{
    color: red;
}
.equipe .descricao h2
{
    padding: 20px 0;
}
.imagem_decorativa img
{
    border-radius: 10px;
    height: 200px;
}
.equipe_perfil
{
    display: flex;
    justify-content: center;
    padding: 60px 0;
}
.equipe_perfil img
{
    max-width:200px;
    margin-right: 30px;
    border-radius: 20px;
}
.equipe_perfil figcaption
{
    width: 200px;
    color: var(--cinza);
    font-weight: bold;
}